@font-face {
    font-family: "roboto";
    src: url('/assets/font/Roboto-Source_Serif_4/Roboto/Roboto-Regular.ttf');
    font-weight: bold;
}
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "roboto";
    scroll-behavior: smooth;
}
body{
    background-color: var(--primary-bg);
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
input{
    outline: none;
}
a{
    text-decoration: none;
    color: black;
}
.contact-button{
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid var(--secondary-color);
    transition: all 0.2s ease-in;

}
.contact-button:hover{
    background-color: var(--primary-color);}
.outline-btn{
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    padding: 10px;
    border-radius: 7px;
    transition: all 0.2s ease-in;
}
.outline-btn:hover{
    background-color: var(--secondary-color) ;
    color: white;
}

/* breakpoint for larger tablets and  laptops  */
@media screen and (min-width:900px) {
    nav{
        padding-inline: 10%;
    }
    .mobile-nav{
        display: none;
    }
    .large-nav{
        display: flex;
    }
    .hero-section,.expertise-section{
        margin: 10px;
    }
    .hero-icon{
        width: 70px;
    }
    .hero-section h1{
        font-size: 90px;
    }
    .hero-section p{
        font-size: 40px;
    }
    .hero-buttons{
        flex-direction: row;
    }
    .expertise-carousel-container{
        width: 400px;
    }
    .expertise-section>h1{
        font-size: 70px;
    }
}