@font-face {
    font-family: "roboto";
    src: url('/assets/font/Roboto-Source_Serif_4/Roboto/Roboto-Regular.ttf');
    font-weight: bold;
}
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "roboto";
    scroll-behavior: smooth;
    scrollbar-width: none;
}
body{
    background-color: var(--primary-bg);
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
input{
    outline: none;
}
a{
    text-decoration: none;
    color: black;
}
.contact-button{
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid var(--secondary-color);
    transition: all 0.2s ease-in;

}
.contact-button:hover{
    background-color: var(--primary-color);}
.outline-btn{
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    padding: 10px;
    border-radius: 7px;
    transition: all 0.2s ease-in;
}
.outline-btn:hover{
    background-color: var(--secondary-color) ;
    color: white;
}
.main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 8px;
    background-color: white;
    padding-top: 50px;
    margin: 10px auto;
    height: 100vh;
    padding-bottom: 50px;
    max-width: 1480px;
}
.main-section > h1 {
    font-size: 30px;
    color: var(--tertiary-color);
  }
  
/* breakpoint for larger tablets and  laptops  */
@media screen and (min-width:900px) {
    nav{
        padding-inline: 10%;
    }
    .mobile-nav{
        display: none;
    }
    .large-nav{
        display: flex;
    }

    .hero-icon{
        width: 70px;
    }
    .hero-section h1{
        font-size: 90px;
    }
    .hero-section p{
        font-size: 40px;
    }
    .hero-buttons{
        flex-direction: row;
        scale: 1.2;
    }
    .expertise-carousel-container{
        width: 400px;
        scale: 1.2;
    }
    .carousel-btn-container{
        width: 430px;
        scale: 1.2;
    }
    .main-section>h1,.deliver-section>h1,.methodology-section > h1{
        font-size: 70px;
    }
    .deliver-image{
        display: flex;
        width: 45%;
    }
    .deliver-card{
        flex-direction: row;
        gap: 2em;
    }
    .deliver-card:nth-child(odd){
        flex-direction: row-reverse;
    }
    .deliver-content{
        width:50%;
        height: 200px;
        gap: 2em;
    }
    .expertise-section{
        justify-content: center;
        gap: 5em;
    }
    .methodology-section{
        height: 100vh;
        justify-content: space-between;
    }
    .scrollwheel-card>h1,.deliver-content>h1{
        font-size: 40px;
    }
    .scrollwheel-card>p,.deliver-content>p{
        font-size: 22px;
    }
    
}
