.expertise-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 8px;
  background-color: white;
  padding: 50px 0;
  margin: 10px auto;
  height: 100vh;
  max-width: 1480px;
}
.expertise-section > h1 {
  font-size: 30px;
  color: var(--tertiary-color);
}

.expertise-carousel-container {
  width: 70%;

  overflow: hidden;
  height: fit-content;
  position: relative;
}
.expertise-carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.expertise-card {
  min-width: 100%; 
  margin-bottom: 20px;
  padding: 10px;
  background: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  height: 320px;
  justify-content: space-around;
  border-radius: 10px;

}
.expertise-card h1{
    color: white;
}
.expertise-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.expertise-content-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
  
}
.expertise-subsection {
  background-color: white;
  width: 90%;
  margin-inline: auto;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.carousel-btn-container {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 75%;
  top: 65%;
  z-index: 90;
  
}
.carousel-btn {
  transform: translateY(-50%);
  background-color: var(--tertiary-color);
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid ;
  transition: all 0.2s ease-in;
  width: 35px;
}
.carousel-btn:hover{
  background-color: var(--primary-color);
}
.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}
