nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 7px;
    height: 80px;
    padding-inline: 1em;

}
.mobile-nav{
    display: flex;
    flex-direction: column;
    position: relative;
}


.nav-logo{
    width: 50px;
}
.burger-icon{
    width: 35px;
    cursor: pointer;
}
.mobile-nav-content{
    position: absolute;
    top: 160%;
    right: 0;
    background-color: white;
    align-items: center;
    padding: 2em 0;
    width: 150px;
    gap: 2em;
    box-shadow: 0 0 7px;
    border-radius: 7px;
    display: none;
    flex-direction: column;
}

.large-nav{
    display: none;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}
.large-nav>div{
    display: flex;
    justify-content: center;
    gap: 55px;
    flex-grow: 1;
}
.large-nav a{
    padding: 10px;
    border-radius: 7px;
    transition: all 0.2s ease-in;
}
.large-nav a:hover{
    color: white;
    background-color: var(--primary-color);

}